<section class="about__page">
  <h1 class="title">Rick and morty GraphQL APP</h1>
  <div class="about__container">
    <div class="about__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quae
      atque magni eveniet suscipit eius, corrupti blanditiis id voluptatem eaque
      voluptates laboriosam dignissimos odio recusandae neque rem ipsa
      perspiciatis. Doloribus. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Quod, voluptate. Dolore rerum ducimus animi sed est
      similique maiores itaque doloribus. Aperiam nam illo minima, repellat
      totam sit assumenda. Quibusdam, consequatur?
    </div>
    <figure class="about__img">
      <img
        src="assets/imgs/web_dev.svg"
        alt=""
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
        height="306"
      />
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">DOMINICODE </span>
  </p>
</section>
