section.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 95%;
  align-content: center;
  padding: 1rem;
  background: rgb(250 246 246 / 16%);
  border-radius: 0.5rem;

  .search__name {
    width: 100%;
  }

  label {
    color: white;
    margin-bottom: 0.25rem;
    display: block;
  }

  input {
    width: 95%;
    padding: 1rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: white;
    border: 1px solid #cdd4da;
    border-radius: 0.25rem;
    height: calc(2.25rem + 2px);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      outline: none;
    }
  }

  button {
    cursor: pointer;
    padding: 0.75rem;
    border: 1px solid #cdd4da;
    border-radius: 0.25rem;
    height: calc(2.25rem + 2px);
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  section.search__container {
    flex-direction: column;
    .search__name {
      width: 100%;
      margin-bottom: 1rem;
    }
    button {
      margin-top: 5px 0;
      width: 95%;
      &:focus {
        outline: none;
      }
    }
  }
}
